*,
*:active,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgba(126, 156, 223, 0.753);
  z-index: 9000;
}



.header > img {
  margin-left: 1rem;
  height: 5rem;
  width: 6.5rem;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title > h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.header__button {
  margin-right: 1rem;
  height: 2.3rem;
  width: 6.8rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background: rgba(104, 110, 196, 0.568);
  border: 1px solid black;
  box-shadow: 2px 5px 6px #000;
  cursor: pointer;
  outline: none;
  transition: all 0.12s ease-in-out;
}

.header__button:hover {
  background-color: rgba(165, 126, 206, 0.986);
}

.header__button:active {
  background-color: rgba(203, 226, 140, 0.6);
  box-shadow: 1px 3px 4px #000;
  transform: translate(3px);
}

.main {
  margin-bottom: 10rem;
  padding-bottom: 25rem;
  border-bottom: 1px solid rgb(109, 88, 88);
}

.heading {
  position: relative;
  height: 50%;
}

.heading > img {
  width: 100%;
  max-height: 45rem;
  object-fit: cover;
}

.heading__content {
  position: absolute;
  background-color: rgba(243, 243, 247, 0.767);
  top: 38%;
  left: 5%;
  width: 29rem;
  padding: 1.2rem;
}

.heading__content > h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.heading__content > p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  margin-bottom: 0.8rem;
}

.heading__button {
  height: 2.3rem;
  width: 6.8rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background: rgba(85, 119, 233, 0.521);
  border: 1px solid black;
  box-shadow: 2px 5px 6px #000;
  cursor: pointer;
  outline: none;
  transition: all 0.12s ease-in-out;
}

.heading__button:hover {
  background-color: rgba(77, 77, 230, 0.705);
}

.heading__button:active {
  background-color: rgba(0, 0, 255, 1);
  box-shadow: 1px 3px 4px #000;
  transform: translate(3px);
}

.sub {
  height: 50vh;
  padding: 3rem;
  margin-top: 0;
  position: relative;
}

.sub > img {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 27rem;
  object-fit: cover;
}
.sub__content {
  position: absolute;
  top: 45%;
  left: 17%;
  height: 10.5rem;
  width: 25rem;
  padding: 1.2rem;
  background-color: rgba(255, 255, 255, 0.575);
}

.sub__content > h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.sub__content > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 0.6rem;
}

.review {
  position: absolute;
  top: 1;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.review__container {
  margin-top: -20rem;
  width: 65.5rem;
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(250, 242, 242, 0.212);
  border: 0.15rem solid rgba(250, 101, 101, 0.664);
}


.review__score {
  width: 14rem;
}

.review__score > h3 {
  font-size: 3rem;
}

.review__score > h4 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.review__score > a {
  font-size: 1rem;
  color: rgb(83, 83, 156);
  text-decoration: none;
}


.review__customers {
  display: flex;
  align-items: center;
}

.quote {
  background-color: #fff;
  box-shadow: 1rem 1rem 3rem rgba(0,0,0, .3);
  padding: 2rem;
  max-width: 25rem;
  margin-right: 2rem;
  position: relative;
  overflow: hidden;
}

.quote__text {
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
}

.quote__customer {
  display: flex;
  align-items: center;
}

.quote__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.quote__photo:hover {
    transform: scale(1.26);
  }

.quote__customer-container {
  margin-right: auto;
}

.quote__customer-name {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.quote__customer-date {
  font-size: 0.85rem;
  color: lightslategray;
}

.quote__rating {
  color: rgba(106, 106, 190, 0.61);
  font-size: 1.5rem;
  font-weight: 400;
}

.quote::before {
  content: "\201C";
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    line-height: 1;
    font-size: 17rem;
    color: rgb(227, 236, 238);
    font-family: sans-serif;
    z-index: 1;
}

.quote__button {
  height: 2.6rem;
  width: 6rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background: rgba(122, 103, 103, 0.863);
  border: 1px solid black;
  box-shadow: 2px 5px 6px #000;
  cursor: pointer;
  outline: none;
  transition: all 0.12s ease-in-out;
}

.quote__button:hover {
  background-color: rgba(131, 44, 44, 0.808);
}

.quote__button:active {
  background-color: rgba(255, 0, 0, 0.6);
  box-shadow: 1px 3px 4px #000;
  transform: translate(3px);
}


.hotel {
  margin-top: 25rem;
  padding: 2rem;
  background-color: rgb(240, 250, 250);
}

.hotel__wrapper {
  text-align: center;
}

.hotel__description {
  display: inline-block;
  width: 45rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.hotel__description > h2 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

.hotel__description > p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.rooms {
  display: flex;
  justify-content: space-around;
}

.rooms__container {
  width: 22rem;
}

.rooms__img {
  width: 21rem;
  height: 15rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  box-shadow: 0.5rem 1rem 1rem rgba(0,0,0, .4);
}
.rooms__img:hover {
    transform: scale(1.40);
  }

.rooms__container > h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.rooms__container > p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 0.8rem;
}

.rooms__button {
  height: 2.3rem;
  width: 6.8rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background: rgba(0, 60, 255, 0.596);
  border: 1px solid black;
  box-shadow: 2px 5px 6px #000;
  cursor: pointer;
  outline: none;
  transition: all 0.12s ease-in-out;
}

.rooms__button:hover {
  background-color: rgba(0, 0, 255, 0.8);
}

.rooms__button:active {
  background-color: rgba(0, 0, 255, 1);
  box-shadow: 1px 3px 4px #000;
  transform: translate(3px);
}

.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  padding-left: 1rem;
  padding-bottom: 5rem;
  padding-right: 1rem;
  background-color: rgb(240, 250, 250);
}

.activities__left {
  display: flex;
  justify-content: space-between;
}

.activity {
  width: 15rem;
}

.activity__image {
  width: 14rem;
  height: 18rem;
  margin-bottom: 0.8rem;
  box-shadow: 0.5rem 1rem 1rem rgba(0,0,0, .4);
}
.activity__image:hover {
    transform: scale(1.17);
  }

.activity > h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.activity > p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  width: 12.5rem;
  margin-bottom: 0.8rem;
  color: rgb(77, 77, 77);
}

.activity__button {
  height: 2.3rem;
  width: 6.8rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background: rgba(0, 60, 255, 0.596);
  border: 1px solid black;
  box-shadow: 2px 5px 6px #000;
  cursor: pointer;
  outline: none;
  transition: all 0.12s ease-in-out;
}

.activity__button:hover {
  background-color: rgba(0, 0, 255, 0.8);
}

.activity__button:active {
  background-color: rgba(0, 0, 255, 1);
  box-shadow: 1px 3px 4px #000;
  transform: translate(3px);
}

.activities__right {
  width: 20rem;
  margin-left: 2rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
  border-top: 0.15rem solid blue;
  border-bottom: 0.15rem solid blue;
  text-align: center;
}

.activities__right > h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.activities__right > p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgb(77, 77, 77);
}

.deluxe {
  text-align: center;
  padding: 10rem 2rem 15rem 2rem;
  background-color: rgba(138, 122, 32, 0.432);
}

.deluxe__club {
  position: relative;
  display: inline-block;
  width: 40rem;
  height: 26rem;
  margin-left: -25rem;
  padding: 5rem 17rem 5rem 1rem;
  text-align: center;
  color: rgb(220, 221, 214);
  background-color: rgba(105, 91, 54, 0.678)
}

.deluxe__club > h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.deluxe__club > p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.deluxe__button {
  height: 2.3rem;
  width: 6.8rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background: rgba(201, 195, 160, 0.945);
  border: 1px solid black;
  box-shadow: 2px 5px 6px #000;
  cursor: pointer;
  outline: none;
  transition: all 0.12s ease-in-out;
}

.deluxe__button:hover {
  background-color: rgba(97, 83, 13, 0.733);
}

.deluxe__button:active {
  background-color: rgb(117, 104, 28);
  box-shadow: 1px 3px 4px #000;
  transform: translate(3px);
}

.deluxe__container {
  position: absolute;
  margin-top: -13rem;
  margin-left: 25rem;
}


.deluxe__image {
  width: 40em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.deluxe__image:hover {
  transform: scale(1.10);
}


.Cuisine {
    text-align: center;
    padding: 10rem 2rem 15rem 2rem;
    background-color: rgba(138, 122, 32, 0.432);
  }
  
  .International__Cuisine {
    position: relative;
    display: inline-block;
    width: 40rem;
    height: 26rem;
    margin-left: -25rem;
    padding: 5rem 17rem 5rem 1rem;
    text-align: center;
    color: rgb(220, 221, 214);
    background-color: rgba(105, 91, 54, 0.678)
  }
  
  .International__Cuisine > h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .International__Cuisine > p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .Cuisine__button {
    height: 2.3rem;
    width: 6.8rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    background: rgb(226, 212, 134);
    border: 1px solid black;
    box-shadow: 2px 5px 6px #000;
    cursor: pointer;
    outline: none;
    transition: all 0.12s ease-in-out;
  }
  
  .Cuisine__button:hover {
    background-color: rgba(117, 104, 28, 0.678);
  }
  
  .Cuisine__button:active {
    background-color: rgba(177, 160, 68, 0.856);
    box-shadow: 1px 3px 4px #000;
    transform: translate(3px);
  }
  
  .Cuisine__container {
    position: absolute;
    margin-top: -13rem;
    margin-left: 25rem;
  }
  
  
  .Cuisine__image {
    width: 40em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .Cuisine__image:hover {
    transform: scale(1.10);
  }
  
.Cuisine {
    text-align: center;
    padding: 10rem 2rem 15rem 2rem;
    background-color: rgba(138, 122, 32, 0.432);
  }
  
  .International__Cuisine {
    position: relative;
    display: inline-block;
    width: 40rem;
    height: 26rem;
    margin-left: -25rem;
    padding: 5rem 17rem 5rem 1rem;
    text-align: center;
    color: rgb(220, 221, 214);
    background-color: rgba(105, 91, 54, 0.678)
  }
  
  .International__Cuisine > h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .International__Cuisine > p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .Cuisine__button {
    height: 2.3rem;
    width: 6.8rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    background: rgb(226, 212, 134);
    border: 1px solid black;
    box-shadow: 2px 5px 6px #000;
    cursor: pointer;
    outline: none;
    transition: all 0.12s ease-in-out;
  }
  
  .Cuisine__button:hover {
    background-color: rgba(117, 104, 28, 0.678);
  }
  
  .Cuisine__button:active {
    background-color: rgba(177, 160, 68, 0.856);
    box-shadow: 1px 3px 4px #000;
    transform: translate(3px);
  }
  
  .Cuisine__container {
    position: absolute;
    margin-top: -13rem;
    margin-left: 25rem;
  }
  
  
  .Cuisine__image {
    width: 40em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .Cuisine__image:hover {
    transform: scale(1.10);
  }
  



















.footer {
  padding-top: 5rem;
  background-color: RGB(65,42,122);
}

.footer__top {
  display: flex;
  justify-content: space-around;
  color: rgba(236, 225, 225, 0.87);
  padding-bottom: 1rem;
}

.footer__hotel {
  text-align: center;
}

.footer__hotel > h1 {
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.footer__about > h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.footer__about > ul {
  margin-top: 0.4rem;
  cursor: pointer;
}

.footer__terms > h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.footer__terms > ul {
  margin-top: 0.4rem;
  cursor: pointer;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: rgba(236, 225, 225, 0.87);
  position: relative;
}

.footer__bottom::after {
  content: "";
  background-color: rgba(105, 105, 105, 0.473);
  position: absolute;
  top: 0;
  height: 1px;
  width: 96%;
}

.footer__socials {

}

.footer__socials > a {
  margin: 0 2rem;
}

.social {
  font-size: 1.4rem;
  color: rgba(236, 225, 225, 0.87);
  transition: color 0.3s;
}

.social:hover {
  color: rgba(56, 56, 180, 0.774)
}

.footer__copyright {
  font-size: 0.9rem;
  margin-right: 1.2rem;
}